@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto  Flex', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    height: 90px;
    -webkit-box-shadow: 0px 5px 15px -5px #000000; 
    box-shadow: 0px 5px 15px -5px #000000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font: 1.5rem 'Roboto Flex', sans-serif;
    font-weight: 400;
    color: #000;

}

.nav-logo img{
    width: 74px;
    height: 71px;
}

@media only screen and (min-width: 992px) {

    .nav-link{
        font: 1rem 'Roboto Flex', sans-serif;
    }

    .div-hero{
        display: none;
    }

    .div-hero-desk{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .div-hero-desk img{
        width: 480px;
        height: auto;
    }

    .div-hero-desk h1{
        font: 2.25rem 'Roboto Flex', sans-serif;
        width:  480px;
        font-weight: 600;
    }

    .div-hero-desk button{
        width: 210px;
        height: 55px;
        margin-top: 20px;
        background-color: #D9D9D9;
        border: 2px solid black;
        border-radius: 5px;
        font: 16px 'Roboto Flex', sans-serif;
        font-weight: 600;
        color: black;
        cursor: pointer;
    }

    .sobre{
        display: none;
    }

    .sobre-desk{
        background-color: #000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
    }

    .sobre-desk img{
        width: 580px;
        height: auto;
    }

    .sobre-desk h2{
        font: 35px 'Roboto Flex', sans-serif;
        font-weight: 600;
        color: white;
        padding: 0 25px;
    }

    .sobre-desk p{
        font: 22px 'Roboto Flex', sans-serif;
        font-weight: 400;
        color: white;
        padding: 0 25px;
    }

    .side-block{
        width: 580px;
    }

    .estrutura{
        display: none;
    }

    .estrutural{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .estrutura-desk h2{
        font: 32px 'Roboto Flex', sans-serif;
        font-weight: 600;
        text-align: center;
        margin: 25px 0;
    }

    .block-estrutura h3{
        font: 18px 'Roboto Flex', sans-serif;
        font-weight: 600;
    }

    .block-estrutura p{
        font: 16px 'Roboto Flex', sans-serif;
        font-weight: 600;
    }

    .depoimentos{
        display: none;
    }

    .depoimentos-desk h2{
        font: 32px 'Roboto Flex', sans-serif;
        font-weight: 600;
        text-align: center;
        padding: 50px 0;
    }

    .videos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .videos video{
        width: auto;
        height: 590px;
        border-radius: 25px;
    }

    .comentarios{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 100px 0;
    }

    .box-coment{
        background-color: #d9d9d9;
        width: 380px;
        height: 665px;
        padding: 32px;
    }

    .box-coment h2{
        font: 20px 'Roboto Flex', sans-serif;
        font-weight: 600;
        text-align: center;
        padding: 10px 0;
    }

    .box-coment hr{
        background-color: #adadad;
        height: 2px;
    }

    .box-coment p{
        font: 16px 'Roboto Flex', sans-serif;
    }

    .regras{
        background-color: #adadad;
    }

    .regras h2{
        font: 32px 'Roboto Flex', sans-serif;
        font-weight: 600;
        text-align: center;
        padding: 50px 0;
    }

    .regras button{
        width: 210px;
        height: 55px;
        margin-top: 20px;
        margin-left: 140px;
        background-color: #D9D9D9;
        border: 2px solid black;
        border-radius: 5px;
        font: 16px 'Roboto Flex', sans-serif;
        font-weight: 600;
        color: black;
        cursor: pointer;
    }

    .flex-regras{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .lista-regra{
        font: 16px 'Roboto Flex', sans-serif;
        display: flex;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .lista-regra h3{
        margin-right: 10px;
        background-color: #000;
        color: #fff;
        border-radius: 50px;
        padding: 2px 7px;
    }

    .links{
        display: flex;
        justify-content: space-evenly;
        padding-top: 25px;
    }

    .links img{
        width: 50px;
        height: 50px;
    }

    .titulo-footer{
        font: 16px 'Roboto Flex', sans-serif;
        font-weight: 600;
    }

    .texto-subfooter p{
        font: 16px 'Roboto Flex', sans-serif;
    }

    .direitos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 25px 0;
    }

    .direitos p{
        font: 14px 'Roboto Flex', sans-serif;
        text-align: center;
    }

    .direitos-dev{
        display: flex;
    }
    
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5.6rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 0 10px 10px 0;
        text-align: center;
        transition: 0.3s;
        -webkit-box-shadow: 0px 5px 15px -5px #000000; 
        box-shadow: 0px 5px 15px -5px #000000;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .nav-link{
        font-size: .75rem;
        font-weight: 400;
        color: #000;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .hero{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
    }

    .div-hero{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .div-hero h1{
        font: 1.625rem 'Roboto Flex', sans-serif;
        font-weight: 600;
        text-align: center;
        padding: 0 25px;
    }

    .div-hero img{
        width: 306px;
        height: auto;
    }

    .div-hero button{
        width: 153px;
        height: 51px;
        background-color: #D9D9D9;
        border: 2px solid black;
        border-radius: 5px;
        font: 16px 'Roboto Flex', sans-serif;
        font-weight: 600;
        color: black;
        cursor: pointer;
    }

    .div-hero-desk{
        display: none;
    }

    .sobre{
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 50px 0;
    }

    .sobre h2{
        font: 20px 'Roboto Flex', sans-serif;
        font-weight: 600;
        color: white;
        text-align: center;
    }

    .sobre p{
        font: 16px 'Roboto Flex', sans-serif;
        font-weight: 400;
        color: white;
        text-align: center;
        padding: 0 25px;
    }

    .sobre-desk{
        display: none;
    }

    .estrutura-desk{
        display: none;
    }

    .estrutura{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0 20px;
    }

    .estrutura h2{
        font: 20px 'Roboto Flex', sans-serif;
        font-weight: 800;
        padding-bottom: 20px;
    }

    .estrutura h3{
        font: 16px 'Roboto Flex', sans-serif;
        font-weight: 800;
        padding-top: 20px;
    }

    .estrutura p{
        font: 14px 'Roboto Flex', sans-serif;
        font-weight: 800;
        text-align: center;
        padding: 0 15px;
    }

    .depoimentos-desk{
        display: none;
    }

    .depoimentos{
        padding: 50px 25px;
    }

    .depoimentos h2{
        font: 20px 'Roboto Flex', sans-serif;
        font-weight: 600;
        color: #000;
        text-align: center;
    }

    .depoimentos video{
        width: 325px;
        height: 450px;
        border-radius: 15px;
        margin: 25px 0;
    }

    .comentarios{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 15px 0;
    }

    .box-coment{
        background-color: #d9d9d9;
        width: 330px;
        height: 270px;
        margin: 15px 0;
    }

    .box-coment h2{
        font: 1.125rem 'Roboto Flex', sans-serif;
        font-weight: 600;
        text-align: center;
        padding: 10px;
    }

    .box-coment hr{
        background-color: #adadad;
        height: 2px;
    }

    .box-coment p{
        font: .75rem 'Roboto Flex', sans-serif;
        padding: 15px;
    }

    .regras{
        background-color: #adadad;
        font: 14px 'Roboto Flex', sans-serif;
        font-weight: 600;
        padding: 25px 0;
    }

    .regras h2{
        font: 20px 'Roboto Flex', sans-serif;
        font-weight: 600;
        text-align: center;
    }

    .lista-regra{
        display: flex;
        padding-top: 12px;
    }

    .lista-regra h3{
        background-color: #000;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        padding: 5px;
    }

    .lista-regra p{
        text-transform: uppercase;
    }

    .flex-regras ul{
        padding: 15px;
    }

    .regras button{
        width: 153px;
        height: 51px;
        background-color: #D9D9D9;
        border: 2px solid black;
        border-radius: 5px;
        font: 16px 'Roboto Flex', sans-serif;
        font-weight: 600;
        color: black;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .footer hr{
        background-color: #adadad;
        height: 2px;
    }

    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
    }
    .links img{
        width: 74px;
        height: 71px;
        text-align: center;
        margin-bottom: 15px;
    }

    .titulo-footer{
        font: 14px 'Roboto Flex', sans-serif;
        font-weight: 600;
        padding: 15px 0;
        text-align: center;
    }

    .texto-subfooter p{
        font: 14px 'Roboto Flex', sans-serif;
        text-align: center;
    }

    .direitos{
        padding: 25px 0 0;
        text-align: center;
    }

    .direitos p{
        font: 14px 'Roboto Flex', sans-serif;
    }

    .direitos-dev{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0 25px;
    }
}